# Python / env
__pycache__/
*.pyc
.env

# DATA
data/**            # önce tüm data'yı ignore et
!data/raw/         # sonra raw klasörünü geri dahil et
!data/raw/**       # ve raw içindeki TÜM dosyaları dahil et
data/store/**      # store/cache asla git'e girmesin
